---
---

@import "{{ site.theme }}";

body {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 0;
  background: $body-background url("../images/bkg.png") 0 0;
  color: $body-foreground;
  font-size: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

table, th, td {
  border: 1px solid white;
}